/**
 * 作者：yeshengqiang
 * 时间：2018-03-21
 * 描述：公共文件
 */
@import 'vars';
@import 'mixins';

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    outline: none;
    -webkit-overflow-scrolling : touch;
}

// global
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family:Helvetica;
    line-height: $base_line_height;
    background-color: $body_bg;
}

body, *, *::before, *::after {
    box-sizing: border-box;
}

._full {
    width: 100%;
    height: 100%;
}

._full_router {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

._full_inner {
    position: relative;
    z-index: 5;
    height: 100%;
}
._scroller {
    overflow: auto;
}

/* 子路由被激活后应用的样式 */

.cover-enter-active,
.cover-enter-leave {
    opacity: 1;
    transition: .35s opacity ease;
}

.cover-enter,
.cover-leave-to {
    opacity: .98;
}

._effect--30-enter-active,
._effect--30-enter-leave {
    opacity: 1;
    transition: .3s all ease;
}

._effect--30-enter,
._effect--30-leave {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
}

// 向左滑动
.slide_left_effect--50-enter-active,
.slide_left_effect--50-leave-active,
.slide_right_effect--50-enter-active,
.slide_right_effect--50-leave-active {
    transition: .3s all ease;
}
.slide_left_effect--50-enter,
.slide_right_effect--50-leave-to {
    transform: translate3d(70%, 0, 0);
    opacity: 0;
}
.slide_right_effect--50-enter,
.slide_left_effect--50-leave-to {
    transform: translate3d(-30%, 0, 0);
    opacity: 0;
}

.slide_left_effect--50-leave-to,
.slide_right_effect--50-leave-to,
.slide_left_effect--50-leave-active,
.slide_right_effect--50-leave-active {
    position: absolute;
    z-index: -10;
}


.clearfix{
    zoom: 1;
    &::after{
        display: block;
        content: "";
        clear: both;
        overflow: hidden;
    }
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

// 用于所有icon
.icon.svg-icon {
    font-size: 0.7rem!important;
}

.container {
    padding-top: 2rem;
    @include wh(100%, 100%);
}

/* custom */

.mint-header {
    height: px2rem(100);
    background-color: $global_color !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    font-size: px2rem(36);
    .mint-button {
        padding: 0 px2rem(15);
        foint-size: px2rem(40) !important;
    }
}
// 表单字体大小
.weui-cells{
    font-size: $font-size-16!important;
}
.weui-cells .weui-cell__ft,.weui-cells .weui-input,.weui-cells .weui-textarea{
    font-size: $font-size-16;
}

img {
    display: block;
    width: 100%;
}

// login
.login-field:last-child {
    background-image: none;
    .mint-cell-wrapper {
        background-image: none;
    }
}
.login-btn {
    background-color: $global_color;
}
.w80 {
    .mint-cell-wrapper {
        width: 80%;
    }
}
.w75 {
    .mint-cell-wrapper {
        width: 75%;
    }
}
.w65 {
    .mint-cell-wrapper {
        width:65%;
    }
}



// 文本框提示内容颜色
.form-item input.mint-field-core::-webkit-input-placeholder,
.form-item input.mint-field-core::-moz-input-placeholder,
.form-item input.mint-field-core::-ms-input-placeholder{
    color: $input_placeholder_color;
}
.form-item .mint-field-core {
    font-size: $font-size-16;
}
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section{
    display: block;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
  content: none
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */

// main
.mint-swipe {
    height: 7.81rem;
    color: $white;
    text-align: center;
    overflow: hidden;
}
.mint-tabbar > .mint-tab-item {
    color: $tabbar_font_color;
}
.mint-tabbar {
    background-color: $tabbar_bg;
}

// 车辆列表


// 二级页面样式
.page-second {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: $second_bg;
}
.page-content {
    background-color: $list_bg;
}
ul, li, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

// 1px边框

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
  .border-1px,
  .border-b-1px,
  .border-t-1px {
        &::after {
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
        }
    }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
    .border-1px,
    .border-b-1px,
    .border-t-1px {
        &::after{
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
}

// 修改vux 默认样式
@media (-webkit-min-device-pixel-ratio: 1),(min-device-pixel-ratio: 1){
    .weui-cells {
        &::before,
        &::after,
        .weui-cell::before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            z-index: 2;
        }
    }
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
    .weui-cells {
        &::before,
        &::after,
        .weui-cell::before {
            -webkit-transform: scaleY(0.75);
            transform: scaleY(0.75);
        }
    }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
    .weui-cells {
        &::before,
        &::after,
        .weui-cell::before {
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
}

// 列表数据提示
.no-data-tip {
    text-align: center;
    margin-top: $font-size-14;
    .text {
        font-size: $font-size-16;
        line-height: 2rem;
        color: #A8A8A8;
        text-align: center;
    }
}
.mb-25 {
    margin-bottom: 25px;
}
.mt-5 {
    margin-left: px2rem(5);
}

 // 证件信息
 .slide {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1) -.1s;
    text-align: center;
    .upload_img {
        position: relative;
        display: flex;
        display: -webkit-flex;
        margin: $font-size-10 auto $font-size-20;
        @include wh(8.53rem, 5.33rem);
        color:#99a4af;
        -webkit-flex-direction:column;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .icon {
            font-size: 1.8rem;
        }
        .text {
            font-size: $font-size-14;
        }
        .preview_img {
            position: absolute;
            display: block;
            width: 100%;
            height:100%;
            top:0;
            left:0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

}
.animate {
    max-height: 9999px;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
    transition-delay: 0s;
}
// 上拉加载及刷新
.xs-plugin-pulldown-container,
.xs-plugin-pullup-container {
    font-size: px2rem(32);
}

.vux-search-box {
    font-size: px2rem(32);
}

.weui-cells.vux-no-group-title {
    margin-top: px2rem(20);
}

.weui-input {
    cursor: pointer;
}

.header-nav__inner {
    position: absolute;
    color: $white;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 px2rem(20);
    &.is-right {
        @include flex(stretch, row nowrap);
        left: auto;
        right: 0;
        .nav_type {
            color: $white;
            padding: 0 px2rem(25);
            margin-right: px2rem(-20);
        }
    }
}

.text-left {
    text-align: left !important;
}
